/* JournalTabs.css */

.journal-tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  background-color: #eaeaea; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 10px; /* Padding around the tabs */
}

.journal-tabs button {
  background-color: #6a6a6a;
  color: white;
  border: 1px solid black;
  padding: 10px 40px; /* Increase padding for wider tabs */
  margin-left: -10px; /* Overlapping effect */
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s;
  flex-grow: 1; /* Allow tabs to grow and fill space */
  max-width: 200px; /* Optional: Set a max width */
  border-radius: 10px;
  margin-right: 20px;
}

.journal-tabs button:first-child {
  margin-left: 0; /* No overlap for the first button */
}

.journal-tabs button.selected {
  background-color: #4a4a4a;
  z-index: 2; /* Bring selected tab to the front */
}

.journal-tabs button:hover {
  background-color: #5a5a5a; /* Darker shade on hover */
}

.journal-content {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word; /* Ensures long words break to fit */
  word-wrap: break-word; /* For older browsers */
  white-space: pre-wrap; /* Preserves whitespace and wraps text */
  text-align: left; /* Align text to the left for better readability */
}

.pdf-content {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pdf-content iframe {
  border: none;
  width: 100%;
  min-height: 600px;
}
