/* MainContent.css */

.main-content {
  margin-left: 20px;
  flex-grow: 1; /* Allows it to take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #eaeaea;
  border-radius: 8px;
  padding: 20px 60px; /* Increased horizontal padding to accommodate buttons */
  position: relative;
  height: 80vh; /* Set a fixed height */
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* Adjusted width */
  height: 100%;
  position: relative; /* For positioning carousel buttons */
  margin: auto;
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image scales without distortion */
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  z-index: 2;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
  left: 10px; /* Keep button inside the container */
}

.carousel-button.next {
  right: 10px; /* Keep button inside the container */
}