body {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-menu {
  display: flex;
  justify-content: space-around;
  background-color: #e0e0e0;
  padding: 0;
  margin: 0;
}

.content-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.side-panel {
  background-color: #4a4a4a;
  color: white;
  padding: 0;
  width: 200px;
  text-align: left;
  margin: 0;
}

.side-panel div {
  margin: 10px 0;
  cursor: pointer;
}

.main-content {
  margin-left: 20px;
  flex-grow: 1;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.journal-tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.journal-tabs button {
  background-color: #4a4a4a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.journal-tabs button:hover {
  background-color: #6a6a6a;
}

.description {
  margin: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
